/* Tablet Responsive */
@media screen and (max-width: 1024px) {
    .resume-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "information summary"
            "information skills"
            "education   skills"
            "projects    projects"
            "experience  experience";
        padding: 3rem 1rem 1rem 1rem;
        gap: 1rem;
    }
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .resume-container {
        display: flex;
        flex-direction: column;
        padding: 4rem 1rem 1rem 1rem;
        gap: 1.5rem;
    }


    /* Reset height/width styles that might interfere with flex column */
    .information,
    .summary,
    .education,
    .skills,
    .featured-projects,
    .experience {
        width: 100%;
        margin-bottom: 1rem;
    }
}