.experience-section {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .experience-section {
        font-size: 0.95rem;
    }
}